<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-3.2.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<description>定时任务配置</description>
	
	<bean id="paperOrderJob" class="com.apabi.r2k.quartz.service.PaperOrderJob">
		<property name="paperAuthService" ref="paperAuthService"></property>
	</bean>
	<!-- 检查报纸订单定时任务:先运行是否过期定时任务,后运行是否生效定时任务--> 
	<bean id="paperAuthExpire" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="paperOrderJob" />
		<property name="targetMethod" value="checkPaperAuth" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="checkPaperAuthTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="paperAuthExpire" />
		<property name="cronExpression">
			<value>0 0 1 * * ?</value> 
		</property>
	</bean> 
	
	<!-- 检查专题过期生效定时任务-->
	<bean id="topicAuthExpire" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="paperOrderJob" />
		<property name="targetMethod" value="checkTopicAuth" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="checkTopicAuthTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="topicAuthExpire" />
		<property name="cronExpression">
			<value>0 0 1 * * ?</value> 
		</property>
	</bean>

	<!-- 定时任务调度器 -->
	<bean id="storeDictSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="checkPaperAuthTrigger"/>
				<ref bean="checkTopicAuthTrigger"/>
			</list>
		</property>
	</bean>
</beans>
